.dx-theme-android .type-block .dx-fieldset {
	margin-top: 0;
	padding: 10;
	min-height: 0;
	border-bottom: 0;
}
.dx-theme-android .order-info-fieldset .dx-fieldset, .dx-theme-android .order-number-fieldset .dx-fieldset, .dx-theme-android .order-number-fieldset .dx-fieldset .dx-field, .dx-theme-android .order-number-fieldset .dx-fieldset .dx-field .dx-field-value, .dx-theme-android .order-number-fieldset .dx-fieldset .dx-field .dx-field-label {
	margin: 0;
	padding: 0;
	min-height: 0;
	border-bottom: 0;
}
.dx-theme-android .order-info .dx-field, .dx-theme-android .order-info .dx-field .dx-field-value, .dx-theme-android .order-info .dx-field .dx-field-label {
	padding: 5px 0;
	margin: 0;
	min-height: 0;
	border: 0;
}
.dx-theme-android .dx-list .dx-scrollable-content {
	margin: 0 5px;
}
.dx-theme-android .dx-pivottabs {
	height: 44px;
	background-color: transparent;
}
.dx-pivottabs-tab, .dx-pivottabs-ghosttab {
	color: black;;
}

.dx-theme-android .dx-pivottabs-tab-selected {
	box-shadow: inset 0 -2px black, inset 0 -8px transparent;
	color: red;
}
.dx-theme-android .dx-pivottabs .dx-pivottabs-tab, .dx-theme-android .dx-pivottabs .dx-pivottabs-ghosttab {
	padding: 0px 10px;
	font-size: 20px;
}
.dx-theme-android .dx-pivot .dx-pivot-itemcontainer {
	top: 44px;
}
.dx-theme-android .dx-list .dx-scrollable-container {
	padding: 0;
}
.dx-button-back-arrow {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABCElEQVRYR+2WWQvCMBCE7T/2wAvvExXP3+qDjzoDLYSgkj1oXxIoTULS+Xa6m7ZoNdyKhvVbGSA74O3AFEn9wnVJTW5PgBNE+6XwCvdlCoQXwARi20DwiP6oLoAwcmomR8/FVgcY6SCIdI3+IiXyao0FIBbf4KFzibjFARdxLUAszuSbSSPXvoIDNg4DsR36rH11k+QA6zpMsD3GLD9TkwDE0auSLqaVAHBv7MIVcz2LBVKAbxA3THa1EBoAVwgtACF45IYHzx3jjtQJC4ALhBXgFwRz4p3ihgcAdc5RNbBkx3UCUItfwupIbqP/qBuAevwVe5bnRYq++X8gSeTfIq8cUINkgOzAB1FpKSG7oDUOAAAAAElFTkSuQmCC) 0 0 no-repeat;
	width: 32px;
}
/*.dx-theme-android .dx-list-item, .dx-theme-android .dx-list .dx-empty-message {
	padding: 1em 0px;
}*/