<div data-options="dxView : { name: 'about', title: 'Thông tin' } " >
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="conversations-content" style="padding: 10px;color: black;" data-bind="dxScrollView: {}">
			<div style="text-align: center;">
				<h2>Sendo cho người bán</h2>
			</div>
			<div>
				<p style="padding-bottom: 10px;">
					Ứng dụng SendoS dành cho khách hàng là chủ shop của www.Sendo.vn .
				</p>
				<p style="padding-bottom: 10px;">
					Phiên bản 1.0.0
				</p>
				<p style="padding-bottom: 10px;">
					Phiên bản có những tính năng rút gọn dành cho smartphone:
				</p>
				<table>
					<tbody>
						<tr>
							<td style="padding: 10px;" class="transparent-button" data-bind="dxButton:{icon:'add', disabled: true}"></td>
							<td>Nhận thông báo về đơn hàng mới ngay khi có đơn hàng. </td>
						</tr>
						<tr>
							<td style="padding: 10px;" class="transparent-button" data-bind="dxButton:{icon:'add', disabled: true}"></td>
							<td>Trợ giúp xử lý nhanh đơn hàng :</td>
						</tr>
						<tr>
							<td style="padding: 10px;" class="transparent-button" data-bind="dxButton:{icon:'arrowright', disabled: true}"></td>
							<td>Còn hàng: Xúc tiến giao hàng và chuẩn bị nhận tiền.</td>
						</tr>
						<tr>
							<td style="padding: 10px;" class="transparent-button" data-bind="dxButton:{icon:'arrowright', disabled: true}"></td>
							<td>Hết hàng: Hủy đơn hàng.</td>
						</tr>
						<tr>
							<td style="padding: 10px;" class="transparent-button" data-bind="dxButton:{icon:'arrowright', disabled: true}"></td>
							<td>Tách đơn hàng: Chấp nhận một phần đơn hàng.</td>
						</tr>
						<tr>
							<td style="padding: 10px;" class="transparent-button" data-bind="dxButton:{icon:'arrowright', disabled: true}"></td>
							<td>Hoãn đơn hàng đến một ngày nào đó.</td>
						</tr>
						<tr>
							<td style="padding: 10px;" class="transparent-button" data-bind="dxButton:{icon:'add', disabled: true}"></td>
							<td>Trợ giúp Up tin với sản phẩm.</td>
						</tr>
						<tr>
							<td style="padding: 10px;" class="transparent-button" data-bind="dxButton:{icon:'add', disabled: true}"></td>
							<td>Nhận thông báo ngay khi có khách hàng hỏi về sản phẩm, trợ giúp trả lời nhanh trên ứng dụng.</td>
						</tr>
					</tbody>
				</table>
				<p>
					Mọi thắc mắc xin liên hệ hotro@sendo.vn.
				</p>
			</div>
		</div>
	</div>
</div>