<div data-options="dxView : { name: 'chatdetails', title: 'Hỏi & đáp', secure: true } " >
	<div data-bind="dxCommand: { id: 'refresh', icon: 'refresh', action: function() { doLoadChatDetailData(); } }" ></div>
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxLoadPanel:{message: '', visible: loadPanelVisible }"></div>
		<div id="chatScroll" class="conversations-content" data-bind="dxScrollView: {
		pullDownAction: function() {doLoadChatDetailData();},
		pulledDownText: 'Thả để tải lại...',
		pullingDownText: 'Kéo để tải lại...' }">
			<div style="color: #ee2d24; box-shadow: 0px 2px 2px #efeff4; padding: 0 10px">
				<div style="display: inline-block">
					<img src="images/chat.png"></img>
				</div>
				<div style="display: inline-block;">
					Nội dung trao đổi
				</div>
			</div>
			<!-- ko foreach: chatDetailDataSource -->
			<!-- ko if:isShop -->
			<div class="conversations-date-shop" data-bind="text: date"></div>
			<!-- /ko -->
			<!-- ko ifnot:isShop -->
			<div class="conversations-date" data-bind="text: date"></div>
			<!-- /ko -->
			<!-- ko if:isShop -->
			<div class="conversations-message-shop" data-bind="text:msg, attr: {'id':name}"></div>
			<!-- /ko -->
			<!-- ko ifnot:isShop -->
			<div class="conversations-message" data-bind="text:msg, attr: {'id':name}"></div>
			<!-- /ko -->
			<!-- /ko -->
		</div>
		<div class="conversations-comment" data-bind="dxTextBox:{value:commentToPost, placeholder:'Trả lời khách hàng' }"></div>
		<div class="conversations-comment-button default-button" data-bind="dxButton: { clickAction: postComment, icon: 'send' }"></div>
	</div>
</div>

