<div data-options="dxView : { name: 'chats', title: 'Hỏi & đáp', secure: true } " >
	<div data-bind="dxCommand: { id: 'refresh', icon: 'refresh', action: function() { doLoadChatIdsData(); } }" ></div>
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxLoadPanel:{message: '', visible: loadPanelVisible }"></div>
		<div id="chatidlist" data-bind="dxList:
		{ dataSource: chatsDataSource,
		autoPagingEnabled: true,
		pageLoadingAction: function() { loadNextChats(); },
		pullRefreshEnabled: true,
		pullRefreshAction: function() { doLoadChatIdsData(); },
		noDataText: 'Chưa có câu hỏi nào',
		pulledDownText: 'Thả để tải lại...',
		pullingDownText: 'Kéo để tải lại...',
		nextButtonText: 'Tải tiếp ...',
		pageLoadingText: 'Đang tải ...',
		itemClickAction: function(e) { showChatDetails(e); }  }">
			<div data-options="dxTemplate : { name: 'item' } ">
				<table class="chats-list" style="width:100%">
					<tbody>
						<tr>
							<td colspan="3" style="width: 100%; font-weight: bold; white-space: pre-wrap; word-wrap: break-word;" data-bind="text:name"></td>
						</tr>
						<tr>
							<td width="auto" class="transparent-button" data-bind="dxButton: {icon:'qa', text: totalComment}"></td>
							<td width="100%" style="text-align:right; font-size: smaller;" data-bind="text: dateString"></td>
						</tr>
						<!-- <tr>
						<td colspan="3" style="font-size: smaller;" data-bind="text: customerName"></td>
						</tr> -->
						<!-- ko ifnot:read -->
						<tr>
							<td colspan="3" class="left conversations-title" data-bind="text:msg" style="white-space: pre-wrap; word-wrap: break-word; font-size: smaller;"></td>
						</tr>
						<!-- /ko -->
						<!-- ko if:read -->
						<tr>
							<td colspan="3" class="left conversations-title" style="color: gray;" data-bind="text:msg" style="white-space: pre-wrap; word-wrap: break-word; font-size: smaller;"></td>
						</tr>
						<!-- /ko -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
