<div data-options="dxView : { name: 'orderdetails', title:  'CHI TIẾT ĐƠN HÀNG' } " >
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxScrollView:{}" style="padding: 10px; color: black;">
			<div>
				<div class="pv-title-item pv-bg-white">
					<table>
						<tbody>
							<tr >
								<td class="pv-order-code" width="auto" style="font-size: smaller;" data-bind="text:'#'+orderNumber()"></td>
								<td width="100%" class="order-total-amount" data-bind="text:totalAmount() + ' đ'"></td>
							</tr>

						</tbody>
					</table>
				</div>
				<div style="margin-bottom: 10px;">
					<!-- ko foreach: products -->
					<div class="products-info" style="border-bottom: 1px solid #EFEFF4;">
						<table class="product-table">
							<tbody>
								<tr>
									<td style="width: 80px;"rowspan="5"valign=top><img class="product-thumbnail" data-bind="attr: { src: thumbnail }"><img></td>
								</tr>
								<tr>
									<td style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;" data-bind="text: name"></td>
								</tr>
								<tr class="pv-product-price">
									<td class="product-price" data-bind="text:price + ' đ x ' + quantity"></td>
								</tr>
								<tr class="pv-product-description">
									<td class="product-property" style="white-space: pre-wrap; word-wrap: break-word;" data-bind="text:description"></td>
								</tr>
								<tr class="pv-product-property">
									<td class="product-property" data-bind="text:weight + 'g'"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /ko -->
				</div>
			</div >
			<div class="pv-title-item pv-bg-white">
				<span> Thông tin đơn hàng</span>
			</div>
			<div class="pv-order-info">
				<div class="order-info">
					<div class="dx-fieldset" style="font-weight: bold; font-size: smaller">
						<div id="trackingField" class="dx-field">
							<div class="dx-field-label">
								Mã vận đơn
							</div>
							<div class="dx-field-value" data-bind="text: ': ' + trackingNumber()" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Loại thanh toán
							</div>
							<div class="dx-field-value" style="color: #0066ff;" data-bind="text: ': ' + paymentMethod()" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Thanh toán
							</div>
							<div class="dx-field-value" data-bind="text: ': ' + paymentStatus()" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Voucher
							</div>
							<div class="dx-field-value product-price" data-bind="text: ': ' + voucher() + ' đ'" ></div>
						</div>
						<div id="carrierField" class="dx-field">
							<div class="dx-field-label">
								Nhà vận chuyển
							</div>
							<div class="dx-field-value" data-bind="text: ': ' + carrierName()" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Phí vận chuyển
							</div>
							<div class="dx-field-value product-price" data-bind="text: ': ' + shippingFee() + ' đ'" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Sendo hỗ trợ PVC
							</div>
							<div class="dx-field-value product-price" data-bind="text: ': ' + sendoShippingSupport() + ' đ'" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Shop hỗ trợ PVC
							</div>
							<div class="dx-field-value product-price" data-bind="text: ': ' + shopShippingSupport() + ' đ'" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Trạng thái
							</div>
							<div class="dx-field-value" data-bind="text: ': ' + orderStatus()" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Ngày đặt hàng
							</div>
							<div class="dx-field-value" data-bind="text: ': ' + orderDateDisplay()" ></div>
						</div>
						<div id="delayField" class="dx-field">
							<div class="dx-field-label">
								Ngày hoãn
							</div>
							<div class="dx-field-value" data-bind="text: ': ' + delayDateDisplay()" ></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Người nhận hàng
							</div>
							<div class="dx-field-value" data-bind="text: ': ' + buyerName()"></div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">
								Địa chỉ
							</div>
							<div class="dx-field-value" data-bind="text: ': ' + buyerAddress()" ></div>
						</div>
						<div class="dx-field">
							<div data-bind="dxButton: {icon:'tel', text:buyerPhone, clickAction:function() { window.location = 'tel:' + buyerPhone(); } }"></div>
						</div>
					</div>
				</div>

				<div id="noteField" style="background: #e6e7eb; border-radius : 10px; padding: 10px; background-image: url('images/qa-icon.png'); background-repeat: no-repeat; background-position: right top;" data-bind="text:note" ></div>
				<!-- ko if:canCancel -->
				<div style="text-align: center;padding: 10px 0px; width: 100%;" id="cancelbutton" class="default-button" data-bind="dxButton: {text:'HẾT HÀNG', clickAction: function() {doCancelOrderByOrderID();}}"></div>
				<!-- /ko -->
				<!-- ko if:canProcess -->
				<div style="text-align: center;padding: 10px 0px; width: 100%;" id="processbutton" class="default-button" data-bind="dxButton: {text:'CÒN HÀNG', clickAction: function() {doSwitchProcessOrderByOrderID();}}"></div>
				<!-- /ko -->
				<!-- ko if:canDelay -->
				<div style="text-align: center;padding: 10px 0px; width: 100%;" id="delaybutton" class="default-button" data-bind="dxButton: {text:'HOÃN ĐƠN HÀNG', clickAction: function() {showDelayPopUp();}}"></div>
				<!-- /ko -->
				<!-- ko if:canSplit -->
				<div style="text-align: center;padding: 10px 0px; width: 100%;" id="splitbutton" class="default-button" data-bind="dxButton: {text:'HẾT HÀNG MỘT PHẦN', clickAction: function() {showSplitPopUp();}}"></div>
				<!-- /ko -->
			</div>

			<div style="padding: 10px;"></div>
		</div>
		<div data-bind="dxLoadPanel:{message: 'Đang xử lý...', visible: loadPanelVisible }"></div>
		<div class="popup" data-bind="dxPopup:{visible:popupDelayVisible, fullScreen:true, titleTemplate:'myDelayTitle'}">
			<div data-options="dxTemplate: { name:'myDelayTitle' }">
				<table style="border-spacing: 10px; border-collapse: separate;">
					<tbody>
						<tr height="36px">
							<td class="transparent-button" data-bind="dxButton: {clickAction: hideDetailDelayPopUp, icon:'back-arrow'}"></td>
							<td width="100%" style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;">Hoãn đơn hàng</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div data-options="dxTemplate:{name: 'content'}">
				<div class="dx-fieldset">
					<div class="dx-field">
						<div class="dx-field-label">
							Ngày hoãn
						</div>
						<div class="dx-field-value" data-bind="
						dxDateBox: { value: dateBoxValue, format: 'date' }"></div>
					</div>
				</div>
				<div class="product-popup-footer">
					<div class="default-button" data-bind="dxButton: { text: 'Hoãn', clickAction: function() { doDelayOrderByOrderID(); }, icon:'clock' }"></div>
					<div class="default-button" data-bind="dxButton: { text: 'Huỷ hoãn', clickAction: function() { hideDetailDelayPopUp(); }, icon: 'close' }"></div>
				</div>
			</div>
		</div>
		<div class="popup" data-bind="dxPopup:{visible:popupSplitVisible, fullScreen:true, titleTemplate:'myTitle'}">
			<div data-options="dxTemplate: { name:'myTitle' }">
				<table style="border-spacing: 10px; border-collapse: separate;">
					<tbody>
						<tr height="36px">
							<td class="transparent-button" data-bind="dxButton: {clickAction: hideDetailSplitPopUp, icon:'back-arrow'}"></td>
							<td width="100%" style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;">Chọn sản phẩm còn hàng</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="popupSplitContent" data-options="dxTemplate:{name: 'content'}">
				<!-- <div id="popupSplitList" data-bind="dxList: {dataSource: productsToSplit,
				}">
				<div data-options="dxTemplate:{ name:'item' }">
				<div>
				<table>
				<tbody>
				<tr>
				<td width="100%" style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;" data-bind="text: name"></td>
				<td data-bind="dxCheckBox: {checked:selected, valueChangeAction: splitCheckChanged}"></td>
				</tr>
				</tbody>
				</table>
				</div>
				</div>
				</div> -->
				<div id="popupSplitList">
					<div>
						<table width="100%" style="background-color: #EFEFF4; box-shadow: 0 0 4px gray; border-collapse: separate; border-spacing: 10px">
							<tbody>
								<!-- ko foreach: productsToSplit -->
								<tr height="36px">
									<td width="100%" style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;" data-bind="text: name"></td>
									<td data-bind="dxCheckBox: {checked:selected, valueChangeAction: splitDetailCheckChanged}"></td>
								</tr>
								<!-- /ko -->
							</tbody>
						</table>
					</div>
				</div>
				<div id="popupSplitFooter" class="popup-split-footer" style="padding-bottom: 10px;">
					<div class="default-button"  data-bind="dxButton: { text: 'Tách', clickAction: function() { doSplitOrderByOrderID(); }, icon:'plus', disabled:cantSplitCurrentItem }"></div>
					<div class="default-button"  data-bind="dxButton: { text: 'Huỷ tách', clickAction: function() {hideDetailSplitPopUp() }, icon:'close' }"></div>
				</div>
			</div>
		</div>
	</div>
</div>
