<div data-options="dxView : { name: 'orders', title: 'Đơn hàng', secure: true } " >
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div id="actionsheet" data-bind="dxActionSheet: {
		dataSource: dropDownMenuData,
		visible: actionSheetVisible,
		showTitle : false,
		<!-- title: 'Xử lý đơn hàng', -->
		cancelText: 'Bỏ qua',
		usePopover: true,
		}"></div>
		<div class="popup" data-bind="dxPopup:{visible:popupDelayVisible, fullScreen:true, title:'Delay'}">
			<div data-options="dxTemplate:{name: 'content'}">
				<div class="dx-fieldset">
					<div class="dx-field">
						<div class="dx-field-label">
							Ngày hoãn
						</div>
						<div class="dx-field-value" data-bind="
						dxDateBox: { value: dateBoxValue, format: 'date' }"></div>
					</div>
				</div>
				<div class="product-popup-footer">
					<div class="default-button" data-bind="dxButton: { text: 'Hoãn', clickAction: function() {doDelayOrder();}, icon:'clock' }"></div>
					<div class="default-button" data-bind="dxButton: { text: 'Huỷ hoãn', clickAction: hideDelayPopUp, icon: 'close' }"></div>
				</div>
			</div>
		</div>
		<div class="popup" data-bind="dxPopup:{visible:popupSplitVisible, fullScreen:true, title:'Tách đơn hàng'}">
			<div id="popupSplitContent" data-options="dxTemplate:{name: 'content'}">
				<div id="popupSplitList" data-bind="dxList: {dataSource: productsToSplit,
				editEnabled: true,
				editConfig: {
				deleteEnabled: true,
				deleteType: 'toggle'
				},
				itemDeleteAction: itemDeleted,
				}">
					<div data-options="dxTemplate:{ name:'item' }">
						<div class="products-info">
							<table class="product-table">
								<tbody>
									<tr>
										<td valign=top><img class="product-thumbnail lazy" data-bind="attr: { src: thumbnail }"><img></td>
										<td style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;" data-bind="text: name"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div id="popupSplitFooter" class="popup-split-footer" style="padding-bottom: 10px;">
					<div class="default-button"  data-bind="dxButton: { text: 'Tách', clickAction: function() { doSplitOrder(); }, icon:'plus', disabled:cantSplitCurrentItem }"></div>
					<div class="default-button"  data-bind="dxButton: { text: 'Huỷ tách', clickAction: hideSplitPopUp, icon:'close' }"></div>
				</div>
			</div>
		</div>
		<div id="pivot" data-bind="dxPivot: { dataSource: items, itemSelectAction: selectNewTab, selectedIndex: 0 }">
			<div data-options="dxTemplate : { name: 'item' } ">
				<div data-bind="attr: { id: 'list' + dataName }, dxList: { dataSource: listItems,
				autoPagingEnabled: true,
				pageLoadingAction: function() { loadNextOrders(dataName); },
				pullRefreshEnabled: true,
				pullRefreshAction: function() { doLoadDataByOrderStatus(dataName); },
				noDataText: 'Không có đơn hàng nào ở mục này',
				pulledDownText: 'Thả để tải lại...',
				pullingDownText: 'Kéo để tải lại...',
				nextButtonText: 'Tải tiếp ...',
				pageLoadingText: 'Đang tải ...',
				itemClickAction: function(e) { showDetailsData(e); } }">

					<div data-options="dxTemplate : { name: 'item' }">
						<div class="order-number-fieldset">
							<div class="dx-fieldset">
								<div class="dx-field" style="font-size: smaller;">
									<div class="dx-field-label" style="color: black;" data-bind="text:'#'+orderNumber"></div>
									<div class="dx-field-value" style="text-align: right;" data-bind="text:orderDateDisplay"></div>
								</div>
							</div>
						</div>
						<!-- ko foreach: products -->
						<div class="products-info">
							<table class="product-table">
								<tbody>
									<tr>
										<td rowspan="4" valign=top><img class="product-thumbnail lazy" data-bind="attr: { src: thumbnail }"><img></td>
									</tr>
									<tr>
										<td style="font-weight: bold; white-space: pre-wrap; word-wrap: break-word;" data-bind="text: name"></td>
									</tr>
									<tr>
										<td style="font-size: smaller; white-space: pre-wrap; word-wrap: break-word;" data-bind="text:description"></td>
									</tr>
									<!-- <tr>
										<td data-bind="text:weight + 'g'"></td>
									</tr> -->									<tr>
										<td style="font-size: smaller;" class="product-price" data-bind="text:price + ' đ x ' + quantity"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /ko -->
						<table>
							<tbody>
								<tr>
									<!-- <td width="auto" class="transparent-button"><a style="font-size: 18px; font-weight: bold;" data-bind="attr: {href:'tel:'+buyerPhone}, text:buyerPhone"></a></td> -->
									<td width="auto" class="transparent-button" data-bind="dxButton: {icon:'tel', text:buyerPhone, clickAction:function(e) { window.location='tel:'+buyerPhone; e.jQueryEvent.stopPropagation();}}"></td>
									<td width="100%" class="order-total-amount" data-bind="text:totalAmount + ' đ'"></td>
								</tr>
							</tbody>
						</table>
						<div style="width:100%; padding: 10px 0px;" class="default-button" style="width: 100%;" data-bind="attr: { id: orderNumber }, dxButton: {text:'Xử lý ngay', clickAction:function(e) {$root.showActionSheet(e);}}"></div>
					</div>
				</div>
			</div>
		</div>
		<div data-bind="dxLoadPanel:{message: '', visible: loadPanelVisible }"></div>
	</div>
	<div data-bind="dxCommand: { id: 'refresh', icon: 'refresh', action: function() { refresh(); } }" ></div>
	<!-- <div data-bind="dxLoadPanel:{message: '', visible: true }"></div> -->
</div>
