<div data-options="dxView : { name: 'orders',title:'ĐƠN HÀNG', secure: true } " >
	<!-- , title: 'Đơn hàng' -->
	<div id="content" data-options="dxContent : { targetPlaceholder: 'content' } " >
		<!-- <div id="typeBar" style="margin: 5px 2% 0 2%; padding: 7px; background-color: #EE2D24; color: white; border-radius: 7px; overflow: hidden; ">
			<div class="pv-order"></div>
			<div data-bind="text:selectedOrderName" style="line-height: 24px; padding-left: 10px; float: left;"></div>
		</div> -->
		<div id="typeBar" class="default-button" style="width: 100%; text-align: left" data-bind="dxButton: {icon:'orders', text: selectedOrderName, clickAction: function() { showOrders(); }}"></div>
		<table id="pvordersearchbar" class="pv-search" style="width:100%">
			<tbody>
				<tr>
					<td data-bind="dxButton: {icon:'find', clickAction:function() {doSearchOrders();}}"></td>
					<td width="100%"><div id="searchOrderBox"
					data-bind="dxTextBox: {
					showClearButton : true,
					value: searchString,
					placeholder: 'Tìm theo số điện thoại',
					valueChangeAction: function () { checkSearchEmpty(); }
					}"></div></td>
				</tr>
			</tbody>
		</table>
		<div id="ordersList" data-bind=" dxList: {
		dataSource: ordersDataSource,
		pageLoadingAction: function() { loadNextOrders(); },
		pullRefreshEnabled: true,
		pullRefreshAction: function() { doLoadDataByOrderStatus(selectedOrder(), false, true); },
		noDataText: '',
		pulledDownText: 'Thả để tải lại...',
		pullingDownText: 'Kéo để tải lại...',
		pageLoadingText: 'Đang tải tiếp ...',
		refreshingText: 'Đang tải ...',
		itemClickAction: function(e) { showDetailsData(e); },
		scrollAction: function(e) { scrolled(e); },
		}">
			<!--
			useNativeScrolling: isAndroid,
			grouped: true,
			groupTemplate: 'statesGroup',
			autoPagingEnabled: true,-->
			<!-- <div data-options="dxTemplate:{ name:'statesGroup' }" style="overflow:hidden">
			<div style="float: left; margin-right: 5px;">
			<img src="images/calendar.png" />
			</div>
			<div style="float: left;">
			<div style="font-size: medium; font-weight: normal; color: #ee2d24;" data-bind="text: key"></div>
			</div>
			</div> -->
			<!-- itemClickAction: function(e) { $root.showActionSheet(e); }, -->
			<!-- <div style="padding: 3px 6px; background-color: white; box-shadow: 0 1px 4px #CFCFCF" data-options="dxTemplate : { name: 'item' }">
			<div data-bind="text:orderNumber"></div>
			</div> -->

			<div style="padding: 3px 6px; box-shadow: 0px 0px 2px 0px #000; margin-bottom: 10px;" data-options="dxTemplate : { name: 'item' }">
				<div class="pv-title-item" data-bind="style: { color: orderTypeColor}">
					<table>
						<tbody>
							<tr >
								<td class="pv-order-code" width="auto" style="font-size: smaller; line-height: 32px;" data-bind="text:'#'+orderNumber + ' - ' + status"></td>
								<td width="100%" class="order-total-amount" style="line-height: 32px;" data-bind="text:totalAmount + ' đ'"></td>
							</tr>

						</tbody>
					</table>
				</div>
				<!-- ko foreach: products -->
				<div class="products-info">
					<table>
						<tbody>
							<tr>
								<td style="width: 80px"rowspan="4" valign=top><img class="product-thumbnail lazy" data-bind="attr: { src: thumbnail }"><img></td>
							</tr>
							<tr class="pv-product-name">
								<td data-bind="text: name"></td>
							</tr>
							<tr class="pv-product-price">
								<td class="product-price" data-bind="text:price + ' đ x ' + quantity"></td>
							</tr>
							<tr class="pv-product-description">
								<td data-bind="text:description"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /ko -->
				<!-- <div data-bind="attr: { id: orderNumber }"></div> -->
				<div style="width:100%; padding: 10px 0px;" class="default-button" style="width: 100%;" data-bind="attr: { id: orderNumber }, dxButton: {text:'XỬ LÝ NGAY', clickAction:function(e) {$root.showActionSheet(e);}}"></div>
			</div>
		</div>
		<div data-bind="dxLoadPanel:{message: '', visible: loadPanelVisible }"></div>
		<div id="actionsheet" data-bind="dxActionSheet: {
		dataSource: actionSheetData,
		visible: actionSheetVisible,
		showTitle : true,
		title:'',
		cancelText: 'Bỏ qua',
		usePopover: true,
		target : '#top'
		}"></div>
		<div id="switchOrdersSheet" data-bind="dxActionSheet: {
		dataSource: switchOrdersData,
		visible: switchOrdersVisible,
		showTitle : false,
		usePopover: true,
		target : '#typeBar'
		}"></div>

		<div class="popup" data-bind="dxPopup:{visible:popupDelayVisible, fullScreen:false, titleTemplate:'myDelayTitle'}">
			<div data-options="dxTemplate: { name:'myDelayTitle' }">
				<table style="border-spacing: 10px; border-collapse: separate;">
					<tbody>
						<tr height="36px">
							<td class="transparent-button" data-bind="dxButton: {clickAction: hideDelayPopUp, icon:'close'}"></td>
							<td width="100%" style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;">Hoãn đơn hàng</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="padding: 0 10px;" data-options="dxTemplate:{name: 'content'}">
				<div class="dx-fieldset">
					<div class="dx-field">
						<div class="dx-field-label">
							Ngày hoãn
						</div>
						<div class="dx-field-value" data-bind="
						dxDateBox: { value: dateBoxValue, format: 'date' }"></div>
					</div>
				</div>
				<div class="popup-split-footer" style="padding-bottom: 10px;">
					<div class="default-button" data-bind="dxButton: { text: 'Hoãn', clickAction: function() {doDelayOrder();}, icon:'clock' }"></div>
					<div class="default-button" data-bind="dxButton: { text: 'Huỷ hoãn', clickAction: hideDelayPopUp, icon: 'close' }"></div>
				</div>
			</div>
		</div>
		<div class="popup" data-bind="dxPopup:{visible:popupSplitVisible, fullScreen:false, titleTemplate:'mySplitTitle'}">
			<div data-options="dxTemplate: { name:'mySplitTitle' }">
				<table style="border-spacing: 10px; border-collapse: separate;">
					<tbody>
						<tr height="36px">
							<td class="transparent-button" data-bind="dxButton: {clickAction: hideSplitPopUp, icon:'close'}"></td>
							<td width="100%" style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;">Chọn sản phẩm còn hàng</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="padding: 0 10px;" id="popupSplitContent" data-options="dxTemplate:{name: 'content'}">
				<div id="popupSplitList" data-bind=" dxList: { dataSource: productsToSplit}">
					<div data-options="dxTemplate : { name: 'item' }">
						<table width="100%">
							<tbody>
								<tr height="36px">
									<td width="100%" style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;" data-bind="text: name"></td>
									<td data-bind="dxCheckBox: {checked:selected, valueChangeAction: splitCheckChanged}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="popupSplitFooter" class="popup-split-footer" style="padding-bottom: 10px;">
					<div class="default-button"  data-bind="dxButton: { text: 'Tách', clickAction: function() { doSplitOrder(); }, icon:'plus', disabled:cantSplitCurrentItem }"></div>
					<div class="default-button"  data-bind="dxButton: { text: 'Huỷ tách', clickAction: hideSplitPopUp, icon:'close' }"></div>
				</div>
			</div>
		</div>
		<div id="top" style="display:block; position: absolute; top: 0; width: 100%; height: 0;"></div>
		<div id="topright" style="display:block; position: absolute; top: 0; right:30px; height: 0;"></div>
	</div>
	<div data-bind="dxCommand: { id: 'refresh', icon: 'refresh', action: function() { refresh(); }, visible:showRefresh }" ></div>
	<!--<div id="switchOrdersMenu" data-bind="dxCommand: { id: 'switchorder', icon: 'overflow', action: function() { showOrders(); } }" ></div>-->
</div>
