<div data-options="dxView : { name: 'products', title: 'DANH SÁCH SẢN PHẨM', secure: true } " >
	<!-- <div data-bind="dxCommand: { id: 'sort', action: showSortOptions }" ></div> -->
	<!-- <div data-bind="dxCommand: { id: 'refresh', icon: 'refresh', action: function() { doLoadProducts(); } }" ></div> -->
	<div id="contentview" data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div style="display: block;">
			<div id="pvtopbar" class="pv-topbar">
				<div class="pv-block">
					<span>Số lượt up còn lại: </span>
					<span style="font-weight: bold;" data-bind="text: totalscore"></span>

				</div>
				<div class="pv-block">
					<span>Tích lũy: </span><span style="font-weight: bold;" data-bind="text: score"></span>
					<span>Tặng:</span>
					<span style="font-weight: bold;" data-bind="text: autoscore"></span>
					<!-- <div class="pv-button">Mua lượt up</div> -->
				</div>

			</div>
			<table id="pvsearchbar" class="pv-search products-list" style="width:100%">
				<tbody>
					<tr>
						<td data-bind="dxButton: {icon:'find', clickAction:function() {doLoadProducts(true);}}"></td>
						<td width="100%"><div id="searchBox"
						data-bind="dxTextBox: {
						showClearButton : true,
						value: searchString,
						placeholder: 'Tìm sản phẩm theo tên',
						valueChangeAction: function () {doLoadProducts(true);}
						}"></div></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="productsList" data-bind="dxList: { dataSource: productsDataSource,
		autoPagingEnabled: true,
		pageLoadingAction: function() { loadNextProducts(); },
		pageLoadingText: 'Đang tải tiếp ...',
		pullRefreshEnabled: true,
		pullRefreshAction: function() { doLoadProducts(false, true); },
		noDataText: '',
		pulledDownText: 'Thả để tải lại...',
		pullingDownText: 'Kéo để tải lại...',
		refreshingText: 'Đang tải ...',
		scrollAction: function(e) { scrolled(e); },
		}">
			<!-- useNativeScrolling: isAndroid -->
			<div class="pv-list-item"data-options="dxTemplate : { name: 'item' }">
				<div class="products-info-header" style="z-index: 1000; position: relative; margin-top: 10px;">
					<table>
						<tbody>
							<tr>
								<td width="100%" colspan="4" style="white-space: pre-wrap; word-wrap: break-word; text-align: left; font-weight: bold; font-size: 16px; padding: 5px;" data-bind="text: name"></td>
								<td width="auto" valign="top" class="transparent-button" style="padding: 5px;" data-bind="dxButton: {icon:'edit', disabled: noEdit, clickAction: function(e) {edit(e, $data);}}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="products-info">
					<table class="product-table">
						<tbody>
							<tr>
								<td width="80px" rowspan="4" valign=top><img class="product-thumbnail lazy" data-bind="attr: { src: thumbnail }"><img></td>
							</tr>
							<tr class="pv-product-price">
								<td class="product-price" data-bind="text: price + ' đ'"></td>
							</tr>
							<tr>
								<td style="font-size: smaller;" data-bind="text: weight + ' g'"></td>
							</tr>
							<!-- ko if:displayUpProductDate -->
							<tr>
								<td style="font-size: smaller; white-space: pre-wrap; word-wrap: break-word; text-align: left;" data-bind="text: 'Up gần nhất: ' + upProductDateDisplay"></td>
							</tr>
							<!-- /ko -->
						</tbody>
					</table>
					<table width="100%" style="margin-top: 10px;">
						<tbody>
							<tr>
								<!-- ko if:stockAvailability -->
								<td width="50%" class="default-green-button" data-bind="dxButton: {text:'BÁO HẾT HÀNG', disabled:noEdit, clickAction: function(e) { changeStockStatus(e,$data); } }"></td>
								<!-- /ko -->
								<!-- ko ifnot:stockAvailability -->
								<td width="50%" class="default-button" data-bind="dxButton: {text:'BÁO CÒN HÀNG', disabled:noEdit, clickAction: function(e) { changeStockStatus(e,$data); } }"></td>
								<!-- /ko -->
								<td width="50%" class="default-button" data-bind="dxButton: {icon: 'up-arrow', text:'UP TIN', disabled: noUp, clickAction: function() {upProduct(id);}}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- <div data-bind="dxPopup:{visible:popupEditVisible, fullScreen:true, titleTemplate:'myEditTitle'}">
		<div data-options="dxTemplate: { name:'myEditTitle' }">
		<table style="border-spacing: 10px; border-collapse: separate;">
		<tbody>
		<tr height="36px">
		<td class="transparent-button" data-bind="dxButton: {clickAction: hideEditPopup, icon:'back-arrow'}"></td>
		<td width="100%" style="font-weight: bolder;white-space: pre-wrap; word-wrap: break-word;">Chỉnh sửa sản phẩm</td>
		</tr>
		</tbody>
		</table>
		</div>
		<div data-options="dxTemplate:{name: 'content'}">
		<div data-bind="dxScrollView:{}" style="padding: 10px; color: black;">
		<table class="product-table">
		<tbody>
		<tr>
		<td width="80px" rowspan="4" valign=top><img class="product-thumbnail lazy" data-bind="attr: { src: showEditThumb }"><img></td>
		<td style="white-space: pre-wrap; word-wrap: break-word; text-align: left; font-weight: bold;" data-bind="text: showEditName"></td>
		</tr>
		<tr class="pv-product-price">
		<td class="product-price" data-bind="text: showEditPrice() + ' đ'"></td>
		</tr>
		<tr>
		<td style="font-size: smaller;" data-bind="text: showEditWeight() + ' g'"></td>
		</tr>
		</tbody>
		</table>
		<div class="dx-fieldset">
		<div class="dx-field">
		<div>
		Tên:
		</div>
		<div style="background-color: #E6E7EB;" id="nameBox" data-bind="dxTextBox: { value: editName, showClearButton: true}"></div>
		</div>
		<div class="dx-field">
		<div>
		Giá (đ):
		</div>
		<div style="background-color: #E6E7EB;" id="priceBox" data-bind="dxTextBox: { value: editPrice, keyUpAction: updatePriceFormat, valueUpdateEvent: 'keyup', showClearButton: true}"></div>
		</div>
		<div class="dx-field">
		<div>
		Khối lượng (g):
		</div>
		<div style="background-color: #E6E7EB;" id="weightBox" data-bind="dxTextBox: { value: editWeight, valueChangeAction: updateWeightFormat, valueUpdateEvent: 'keyup', showClearButton: true}"></div>
		</div>
		</div>
		<div class="default-button" data-bind="dxButton: { text: 'Sửa', clickAction: changeProductProperties, icon:'edit-white' }"></div>
		<div class="default-button" data-bind="dxButton: { text: 'Huỷ', clickAction: hideEditPopup, icon:'close' }"></div>
		</div>
		</div>
		</div> -->
		<div data-bind="dxLoadPanel:{message: '', visible: loadPanelVisible }"></div>
	</div>
</div>
